{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}{% if divelog is defined %}Duiklog bewerken{% else %}Nieuwe duiklog{% endif %}{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">{% if divelog is defined %}Duiklog bewerken{% else %}Nieuwe duiklog{% endif %}</h1>

        {{ macros.flash_messages() }}

        {{ form_start(form) }}
        {{ macros.form_field_row(form.date, 'Datum', true) }}
        {{ macros.form_field_row(form.location, 'Locatie', true) }}
        {{ macros.form_field_row(form.maxDepth, 'Maximale diepte', true) }}
        {{ macros.form_field_row(form.duration, 'Duur (in uren)', true, 'Vul de totale duiktijd in uren in. Bijvoorbeeld: 1.5') }}
        {{ macros.form_field_row(form.course, 'Opleiding', false) }}
        {{ macros.form_field_row(form.notes, 'Notities', false) }}
        {{ macros.form_field_row(form.images, 'Afbeeldingen', false, 'Meerdere afbeeldingen toevoegen is mogelijk') }}

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Opslaan</button>
            {% if divelog is defined %}
                <a href="{{ path('duiklog_overzicht') }}" class="btn btn-secondary">Annuleren</a>
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
