{% extends 'base.html.twig' %}

{% block title %}New divelog{% endblock %}

{% block body %}
    <h1>New divelog entry</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.location) }}
    {{ form_row(form.notes) }}

    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
