{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}{% if fishinglog is defined %}Vangst bewerken{% else %}Nieuwe vangst{% endif %}{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">{% if fishinglog is defined %}Vangst bewerken{% else %}Nieuwe vangst{% endif %}</h1>

        {{ macros.flash_messages() }}

        {{ form_start(form) }}
        {{ macros.form_field_row(form.date, 'Datum', true) }}
        {% if form.type is defined %}
            {{ macros.form_field_row(form.type, 'Type vis', true) }}
        {% endif %}
        {% if form.weight is defined %}
            {{ macros.form_field_row(form.weight, 'Gewicht (kg)', false) }}
        {% endif %}
        {% if form.length is defined %}
            {{ macros.form_field_row(form.length, 'Lengte (cm)', false) }}
        {% endif %}
        {{ macros.form_field_row(form.images, 'Afbeeldingen', false, 'Meerdere afbeeldingen toevoegen is mogelijk') }}

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Opslaan</button>
            {% if fishinglog is defined %}
                <a href="{{ path('vissen_overzicht') }}" class="btn btn-secondary">Annuleren</a>
            {% endif %}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
