{# templates/login/index.html.twig #}
{% extends 'layout.html.twig' %}

{# ... #}

{% block content %}

    <div class="container-fluid">
        <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-sm align-middle">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Locatie</th>
                            <th>Maximale diepte</th>
                            <th>Lengte</th>
                            <th>Opleiding</th>
                            <th>Notities</th>
                            <th>Bewerken</th>
                            <th>Verwijderen</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for dive in dives %}
                            <tr>
                                <td><a href="/divelog/{{ dive.id }}/view">{{ dive.date|date('d-m-Y') }}</a></td>
                                <td>{{ dive.location }}</td>
                                <td>{{ dive.maxDepth }}</td>
                                <td>{{ dive.duration }}</td>
                                <td>{{ dive.course }}</td>
                                <td>{{ dive.notes }}</td>
                                <td>
                                    <button class="btn btn-sm btn-success" onclick="window.location.href='/divelog/{{ dive.id }}/edit'">Bewerken</button>
                                </td>
                                <td>
                                {# Delete met bevestiging #}
                                <form
                                    method="post"
                                    action="{{ path('app_divelog_delete', {id: dive.id}) }}"
                                    style="display:inline"
                                    onsubmit="return confirm('Weet je zeker dat je deze dive wilt verwijderen?');"
                                >
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_divelog_' ~ dive.id) }}">
                                    <button class="btn btn-sm btn-danger">
                                        Verwijderen
                                    </button>
                                </form>
                            </tr>
                        {% endfor %}

                        Total: {{ dives | length }}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
